#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #ffffff, #2997df, #ffd21f) 1;
  padding: 0 12px;
  position: relative;
}

.menu-button,
.menu-button mat-icon {
  color: var(--color-secondary) !important;
}

.maq-app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-secondary);
  gap: 8px;

  .title-icon {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  }
}

#header.is-home .maq-app-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

#header:not(.is-home) .maq-app-title {
  flex: 1;
  margin-right: 45px;
}

@media (max-width: 768px) {
  .maq-app-title {
    font-size: 1.1rem;

    .title-icon {
      width: 170px;
      height: 40px;
    }
  }
}

@media (max-width: 480px) {
  .maq-app-title {
    font-size: 1rem;

    .title-icon {
      width: 160px;
      height: 35px;
    }
  }
}
