<mat-drawer-container class="home-container" [hasBackdrop]="true" autosize mode="side">
  <app-header [drawer]="drawer"></app-header>

  <mat-drawer #drawer class="home-sidenav">
    <app-menu [drawer]="drawer"></app-menu>
  </mat-drawer>

  <div class="main-container">
    <ng-container *ngIf="isHome">

      <div class="map-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="150 10 100 140" class="isla-svg">
          <ng-container *ngFor="let zone of zones">
            <g
              class="zona"
              [attr.title]="zone.zona"
              (click)="goTo('zona-' + zone.zona.toLowerCase())"
            >
              <path
                [attr.d]="zone.path"
                [attr.fill]="zone.color"
                stroke="#000"
                stroke-width="0.3"
              />
            </g>
          </ng-container>
        </svg>
      </div>

      <div class="home-buttons-wrapper">
        <div class="home-buttons-container">
          <div class="home-button" (click)="goTo('actividades')">
            <label class="home-label">ACTIVIDADES</label>
            <img src="assets/images/actividades.png" alt="Actividades" />
          </div>
          <div class="home-button" (click)="goTo('restaurantes')">
            <label class="home-label">RESTAURANTES</label>
            <img src="assets/images/restaurantes.png" alt="Restaurantes" />
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isHome">
      <router-outlet></router-outlet>
    </ng-container>

  </div>
</mat-drawer-container>
