<section id="Menu">
  <div>
    <span id="logoCard">
      <img src="assets/images/guia-lapalma-icon.png" class="card-logo">
    </span>
  </div>

  <button mat-menu-item (click)="navigateToInicio()">
    INICIO
  </button>

  <button mat-menu-item (click)="navigateToNoreste()">
    ZONA NORESTE
  </button>

  <button mat-menu-item (click)="navigateToEste()">
    ZONA ESTE
  </button>

  <button mat-menu-item (click)="navigateToSur()">
    ZONA SUR
  </button>

  <button mat-menu-item (click)="navigateToValle()">
    ZONA VALLE
  </button>

  <button mat-menu-item (click)="navigateToNoroeste()">
    ZONA NOROESTE
  </button>

</section>
