@use '@angular/material' as mat;
@use 'sass:color';

@use './app/shared/styles/pages';

// =====================================
// PRINCIPAL COLORS
// =====================================
$primary-color: #174E39;
$secondary-color: #F4DDBE;

:root {
  --color-primary: #{$primary-color};
  --color-secondary: #{$secondary-color};
  --color-primary-hover: #{color.scale($primary-color, $lightness: 10%)};
  --color-secondary-hover: #{color.scale($secondary-color, $lightness: -10%)};
}

// =====================================
// ANGULAR MATERIAL COLORS
// =====================================
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// =====================================
// GENERAL STYLES
// =====================================
body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

// =====================================
// CLASSES WITH CORPORATIVE COLORS
// =====================================
.bg-primary {
  background-color: var(--color-primary);
  color: white;
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: black;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}
